.popup-image__close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  background: transparent;
  background-size: 40px;
  border: none;
  transition: opacity .5s linear;
  background-image: url(../../../images/popup-close_button.svg);
  outline: none;
}

.popup-image__close-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 650px) {
  .popup-image__close-button {
    top: -30px;
    right: -30px;
    background-image: url(../../../images/popup-close_button_mobile.svg);
  }
}