.profile__title {
  max-width: 294px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.625rem;
  line-height: 1.14;
  color: #FFFFFF;
  padding: 0;
  margin: 0 18px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .profile__title {
    max-width: 189px;
    font-size: 1.6875rem;
    line-height: 1.22;
    text-align: center;
    margin: 0 15px 0 14px;
  }
}