.profile__avatar {
  width: 120px;
  height: 120px;
  margin: 0 30px 0 0;
  border-radius: 50%;
  object-fit: cover;
  object-position:;
}

@media screen and (max-width: 650px) {
  .profile__avatar {
    max-width: 169px;
    margin: 0 auto 22px;
  }
}