.profile__add-button {
  width: 150px;
  height: 50px;
  align-self: center;
  transition: opacity .5s linear;
  background: #000000;
  background-image: url(../../../images/profile-add_button.svg);
  padding: 0;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 650px) {
  .profile__add-button {
    width: 282px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../images/profile-add_button_mobile.svg);
  }
}